body{
  background-image:url(history\ background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  color: white;
  font-size: 2.4em;
  text-decoration: underline;
  padding-top: 100px;
  width: 100%;
  font-family: Georgia;
  text-align: center;
  text-shadow: 5px 5px 5px rgba(80, 80, 244, 0.961) , -5px -2px 5px rgba(255, 106, 0, 0.902);
}

h2 {
  color: whitesmoke;
  text-decoration:underline;
  text-shadow: 5px 5px 5px rgb(80, 244, 116) , -5px -2px 5px rgb(17, 0, 255);
  font-weight: 700;
  font-size: 2.1em;
  text-align: right;
  width: 85%;
  font-family: Georgia;
 
}

p {
  color: #101011;
  line-height: 1.5em;
  text-align: center;
  position: center;
  width: 70%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-left: 150px;
  margin-bottom: 60px;
}

.hp {
  font-weight: bolder;
  color: green;
  text-align: center;
  margin-left: 180px;
}

.lala{
margin-left: 0px;
font-size: 30px;
font-weight: bolder;
font-style: italic;
font-family:Verdana, Geneva, Tahoma, sans-serif;
text-decoration: underline;
text-align: center;
text-shadow:  5px 5px 5px rgb(244, 244, 80) , -5px -2px 5px rgba(0, 247, 255, 0.968);;
color: darkcyan;
margin-top: 20px;
list-style-type: none;

}

div {
margin-top: 100px;

}

div li {
  color: #00ff80;
  margin: 10px 5px;
  line-height: 1.3em;
  text-align: center;
  width: 100%;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
}

div table {
margin: 20px 5px;
width: 1200px;
padding: 0px;
line-height: 1.3em;
font-size: 21px;
font-family: Arial;
font-weight: 600;
}

table {
  align-self: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  width: fit-content;
  padding: 0px;
  margin: auto;
}

.img_deg {
  width: auto;
  height: auto;
  justify-content: center;
  align-content: center;
  margin-left: 0px;
  margin-bottom: 90px;
}

.img_deg1 {
  margin-left: 0px;
  margin-bottom: 90px;
}


#button{
  background-color: #00ff80;
  font-size: 2em;
  text-align: center;
  padding: 15px;
  margin: auto;
  text-decoration: none;

}

#button:hover{
  background-color: gray;

}


#greenstuff{
  text-align: center;
}

