body{
    background-image: url(background\(1\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}











@font-face{
    src: url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap);
   font-family: Roboto }


h1{
    font-family: Roboto, verdana, arial ;
}

p{
    font-family: "Open Sans" "lucida console", "courier new" ;
    font-size : 14px;
    font-weight: bold;
    font-style: italic;
}




.navbar ul{
    list-style-type: none;
    background-color: rgb(7, 55, 227);
    padding: 0px;
    margin: auto;
    overflow: hidden;
  
}

.navbar a{
    color: rgb(234, 177, 234);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
   
 
}

.navbar a:hover{
    background-color: lightgray;
    color: rgb(132, 81, 5);
}
.navbar li{
    font-size: 1.4em;
    float: left;
    text-align: center;
    
    
}

#starter{
    color: rgb(137, 228, 178);
    text-align: center;
    text-decoration: underline;
    font-size: 2em;
    text-shadow: 3px 2px 5px rgb(40, 145, 152) , -5px -5px 5px red;
}
#para{
    color: rgb(241, 244, 245);
    font-size: 2em;
}

#notok{
    color: white;
    text-align: center;
    text-decoration: underline;
    font-size: 1.8em;
    text-shadow: 3px 2px 5px rgb(255, 247, 0) , -3px -2px 5px red;
    animation-name: slideup;
    animation-duration: 2s;
}

#tablefirst{
    color: rgb(241, 244, 245);
    font-size: 2em;
}

#content{
    color: rgb(150, 204, 222);
    font-size: 2em;
}

#ul{
    color: rgb(227, 240, 134);
    font-size: 2.5em;

}

#tablefirstt{
    color: rgb(241, 244, 245);
    font-size: 2em;
}
#para1{
    color: rgb(108, 189, 216);
    font-size: 2em;
}
#para2{
    color: rgb(241, 105, 205);
    font-size: 2em;
}

#para3{
    color: rgb(118, 238, 194);
    font-size: 2em;
}


@keyframes slideup{
    from{transform: translateY(100%);}
}